# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf

ChilliJam/ChilliSource/*
file_system_utils.pyc
ChilliJam/Projects/Tools/ColladaParser/bin
ChilliJam/Projects/Tools/PreMultipliedAlphaPNGTool/bin
ChilliJam/Projects/Tools/TextExtractor/bin
ChilliJam/Projects/Tools/ToolUtils/bin
ChilliJam/Projects/Tools/FontMaker/source/bin
ChilliJam/Projects/Tools/FontMaker/source/obj
*.suo
ChilliJam/Projects/Tools/ColladaToCSAnimConverter/bin
ChilliJam/Projects/Tools/ColladaToCSModelConverter/bin
ChilliJam/Projects/Tools/CSModelExporter/bin
ChilliJam/Projects/Tools/CSModelExporter/obj
ChilliJam/Projects/Tools/PNGToCSImageTool/bin
ChilliJam/Projects/Tools/TGAToCSImageTool/bin
*.pyc
ChilliJam/Projects/Tools/TexturePacker/bin
ChilliJam/Projects/Tools/TextureAtlasTool/bin
ChilliJam/Projects/Tools/FontTool/bin
*.userprefs
*.pidb
*.xcworkspace
*xcuserdata
ChilliJam/Projects/Tools/AndroidManifestGenerator/bin
*.class
ChilliJam/Projects/Tools/CSFontMaker/bin
ChilliJam/Projects/Tools/CSFontMaker/obj
Thumbs.db
*.user
ChilliJam/Projects/Libraries/SFML/build
ChilliJam/Projects/Libraries/CSBase/build
ChilliJam/Projects/Libraries/CSBase/obj
ChilliJam/Projects/Libraries/CSBase/bin
ChilliJam/Libraries/Core/Android/Projects/facebook/bin
ChilliJam/Libraries/Core/Android/Projects/google-play-services_lib/bin
ChilliJam/Libraries/Core/Android/Projects/google-play-services_lib/gen
ChilliJam/Libraries/Core/Android/Projects/facebook/gen
CSBase.sdf
CSBase.opensdf
*.opensdf
*.sdf
*.suo
*.pdb
*.tlog
ChilliJam/Projects/Android/chillisource/build
ChilliJam/Projects/Android/chillisource/src/main/obj
ChilliJam/Projects/Android/chillisource/src/main/libs/armeabi-v7a
ChilliJam/Projects/Android/chillisource/src/main/libs/armeabi
ChilliJam/Projects/Android/chillisource/src/main/libs/x86
*.vcxproj
